rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fallback permissivo conforme solicitado
    match /{document=**} {
      allow read, write: if true;
    }
    
    // Permite envio de emails pela extensão Trigger Email
    match /mail/{document=**} {
      allow create: if true; 
      allow read, update, delete: if true;
    }

    match /artifacts/{appId} {
      allow read, write: if true;
    }

    match /artifacts/{appId}/public/data {
      match /{document=**} {
         allow read: if true;
         allow write: if true;
      }
    }
  }
}
