rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Pasta do mural (para imagens e anexos)
    match /mural/{imageId=**} {
      allow read: if true; 
      allow write: if true; 
    }
    
    // Regra padrão de redundância
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
